.tile {
    width: 75px;
    height: 75px;
}

.black-tile {
    display: grid;
    place-content: center;
    background-color: rgb(6, 104, 231);

}

.white-tile {
    display: grid;
    place-content: center;
    background-color: #ebecd0;
}