.main-title {
    color: #ffffff;
    text-align: center;
    background-color: #ffffff3b;
    font-size: 32px;
    height: 37px;
    margin-top: 120px;
    border-radius: 12px;
    font-family: Georgia, serif;
}

.sub-title {
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    margin-bottom: 120px;
    border-radius: 12px;
    font-weight: bold;
}